<a href="https://colab.research.google.com/github/rechavar/pyCovid_TechLabsProj/blob/master/TechLabs__finalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TechLabs final project(problem 2 - group 8)

This Notebook is to work in the final project for Techlabs code-at-home course.
Members: Luca Wulfert, Laura Laks, Phillip Guske, Juliana Bedoya and Alejandro Echavarria

### libraries

In [0]:
import pandas as pd

### Constants

In [0]:
confirmed_csv_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
death_csv_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
recovered_csv_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
countries_csv = 'https://raw.githubusercontent.com/rechavar/pyCovid_TechLabsProj/master/countries.csv'

### Usefull databases

In [0]:
df_confirmed = pd.read_csv(confirmed_csv_url)
df_death = pd.read_csv(death_csv_url)
df_recovered = pd.read_csv(recovered_csv_url)
df_countries = pd.read_csv(countries_csv)

In [4]:
df_confirmed.head(10)

                 Province/State       Country/Region  ...  5/19/20  5/20/20
0                           NaN          Afghanistan  ...     7653     8145
1                           NaN              Albania  ...      949      964
2                           NaN              Algeria  ...     7377     7542
3                           NaN              Andorra  ...      761      762
4                           NaN               Angola  ...       52       52
5                           NaN  Antigua and Barbuda  ...       25       25
6                           NaN            Argentina  ...     8809     9283
7                           NaN              Armenia  ...     5041     5271
8  Australian Capital Territory            Australia  ...      107      107
9               New South Wales            Australia  ...     3081     3082

[10 rows x 124 columns]

In [5]:
df_death.head(10)

                 Province/State       Country/Region  ...  5/19/20  5/20/20
0                           NaN          Afghanistan  ...      178      187
1                           NaN              Albania  ...       31       31
2                           NaN              Algeria  ...      561      568
3                           NaN              Andorra  ...       51       51
4                           NaN               Angola  ...        3        3
5                           NaN  Antigua and Barbuda  ...        3        3
6                           NaN            Argentina  ...      393      403
7                           NaN              Armenia  ...       64       67
8  Australian Capital Territory            Australia  ...        3        3
9               New South Wales            Australia  ...       47       47

[10 rows x 124 columns]

In [6]:
df_recovered.head(10)

                 Province/State       Country/Region  ...  5/19/20  5/20/20
0                           NaN          Afghanistan  ...      850      930
1                           NaN              Albania  ...      742      758
2                           NaN              Algeria  ...     3746     3968
3                           NaN              Andorra  ...      628      639
4                           NaN               Angola  ...       17       17
5                           NaN  Antigua and Barbuda  ...       19       19
6                           NaN            Argentina  ...     2872     2933
7                           NaN              Armenia  ...     2164     2419
8  Australian Capital Territory            Australia  ...      104      104
9               New South Wales            Australia  ...     2631     2648

[10 rows x 124 columns]

In [7]:
df_countries.head(10)

  country   latitude  longitude                  name
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla
5      AL  41.153332  20.168331               Albania
6      AM  40.069099  45.038189               Armenia
7      AN  12.226079 -69.060087  Netherlands Antilles
8      AO -11.202692  17.873887                Angola
9      AQ -75.250973  -0.071389            Antarctica

In [0]:
all_dataframes = {'confirmed': df_confirmed,
                  'death': df_death,
                  'recovered': df_recovered,
                  'countries': df_countries}

### Data Cleaning

In [9]:
for key, df in all_dataframes.items():
  print('cleaning: {}'.format(key))

  if key == 'countries':
    continue

  df.drop(['Province/State', 'Lat', 'Long'], axis = 1, inplace = True)

  #Country renaming:
  df["Country/Region"].replace(["Taiwan*", "US", "Congo (Brazzaville)", "Congo (Kinshasa)"], 
                               ["Taiwan", "USA", "Republic of the Congo", "Democratic Republic of the Congo"],
                               inplace = True)
  #Set new index
  df.set_index('Country/Region', inplace = True)

  #Grouping together countries originally split into multiple Provinces/States
  #(Australia, Canada, China, Denmark, France, Netherlands, United Kingdom)
  df = df.groupby(by = df.index, axis = 0).sum()

  # Addition of a "global" row
  df.loc['Global'] = df.sum(axis=0)

  #other way
  df=df.T
  df.rename_axis(index='Date', columns="Country",inplace=True)
  df.index = pd.to_datetime(df.index)

  #Naming the Date index:
  df.index.rename("Date", inplace= True)

  #Creating a datetime index:
  df.index = pd.to_datetime(df.index)
  
  #Save new dataFrame
  all_dataframes[key] = df

cleaning: confirmed
cleaning: death
cleaning: recovered
cleaning: countries

In [10]:
df

    country   latitude  longitude                  name
0        AD  42.546245   1.601554               Andorra
1        AE  23.424076  53.847818  United Arab Emirates
2        AF  33.939110  67.709953           Afghanistan
3        AG  17.060816 -61.796428   Antigua and Barbuda
4        AI  18.220554 -63.068615              Anguilla
..      ...        ...        ...                   ...
240      YE  15.552727  48.516388                 Yemen
241      YT -12.827500  45.166244               Mayotte
242      ZA -30.559482  22.937506          South Africa
243      ZM -13.133897  27.849332                Zambia
244      ZW -19.015438  29.154857              Zimbabwe

[245 rows x 4 columns]

#### Active cases

In [11]:
all_dataframes['active'] = all_dataframes['confirmed'].subtract(all_dataframes['recovered'], all_dataframes['death'])
all_dataframes

{'active': Country     Afghanistan  Albania  Algeria  ...  Zambia  Zimbabwe   Global
 Date                                       ...
 2020-01-22            0        0        0  ...       0         0      527
 2020-01-23            0        0        0  ...       0         0      624
 2020-01-24            0        0        0  ...       0         0      905
 2020-01-25            0        0        0  ...       0         0     1395
 2020-01-26            0        0        0  ...       0         0     2066
 ...                 ...      ...      ...  ...     ...       ...      ...
 2020-05-16         5657      219     3412  ...     496        29  2940871
 2020-05-17         5886      231     3512  ...     565        27  2979657
 2020-05-18         6271      221     3576  ...     569        28  3015068
 2020-05-19         6803      207     3631  ...     580        28  3058497
 2020-05-20         7215      206     3574  ...     635        30  3099006

 [120 rows x 189 columns],
 'confirmed': Country     Afghanistan  Albania  Algeria  ...  Zambia  Zimbabwe   Global
 Date                                       ...
 2020-01-22            0        0        0  ...       0         0      555
 2020-01-23            0        0        0  ...       0         0      654
 2020-01-24            0        0        0  ...       0         0      941
 2020-01-25            0        0        0  ...       0         0     1434
 2020-01-26            0        0        0  ...       0         0     2118
 ...                 ...      ...      ...  ...     ...       ...      ...
 2020-05-16         6402      933     6821  ...     679        42  4634068
 2020-05-17         6664      946     7019  ...     753        44  4713620
 2020-05-18         7072      948     7201  ...     761        46  4801943
 2020-05-19         7653      949     7377  ...     772        46  4897492
 2020-05-20         8145      964     7542  ...     832        48  4996472

 [120 rows x 189 columns],
 'countries':     country   latitude  longitude                  name
 0        AD  42.546245   1.601554               Andorra
 1        AE  23.424076  53.847818  United Arab Emirates
 2        AF  33.939110  67.709953           Afghanistan
 3        AG  17.060816 -61.796428   Antigua and Barbuda
 4        AI  18.220554 -63.068615              Anguilla
 ..      ...        ...        ...                   ...
 240      YE  15.552727  48.516388                 Yemen
 241      YT -12.827500  45.166244               Mayotte
 242      ZA -30.559482  22.937506          South Africa
 243      ZM -13.133897  27.849332                Zambia
 244      ZW -19.015438  29.154857              Zimbabwe

 [245 rows x 4 columns],
 'death': Country     Afghanistan  Albania  Algeria  ...  Zambia  Zimbabwe  Global
 Date                                       ...
 2020-01-22            0        0        0  ...       0         0      17
 2020-01-23            0        0        0  ...       0         0      18
 2020-01-24            0        0        0  ...       0         0      26
 2020-01-25            0        0        0  ...       0         0      42
 2020-01-26            0        0        0  ...       0         0      56
 ...                 ...      ...      ...  ...     ...       ...     ...
 2020-05-16          168       31      542  ...       7         4  311781
 2020-05-17          169       31      548  ...       7         4  315185
 2020-05-18          173       31      555  ...       7         4  318481
 2020-05-19          178       31      561  ...       7         4  323285
 2020-05-20          187       31      568  ...       7         4  328115

 [120 rows x 189 columns],
 'recovered': Country     Afghanistan  Albania  Algeria  ...  Zambia  Zimbabwe   Global
 Date                                       ...
 2020-01-22            0        0        0  ...       0         0       28
 2020-01-23            0        0        0  ...       0         0       30
 2020-01-24            0        0        0  ...       0         0       36
 2020-01-25            0        0        0  ...       0         0       39
 2020-01-26            0        0        0  ...       0         0       52
 ...                 ...      ...      ...  ...     ...       ...      ...
 2020-05-16          745      714     3409  ...     183        13  1693197
 2020-05-17          778      715     3507  ...     188        17  1733963
 2020-05-18          801      727     3625  ...     192        18  1786875
 2020-05-19          850      742     3746  ...     192        18  1838995
 2020-05-20          930      758     3968  ...     197        18  1897466

 [120 rows x 189 columns]}

### Getting R7Four coefficent

Calculating the R-value for any given day: We're using the method the Robert-Koch-Institute uses - It is done by dividing the sum of new cases from the last seven days by the sum of new cases four days before that. We will be calling this value R_7 Four days is the generational interval, which is the time it takes on average for one infection to be transmitted to the next generation (because one isn't infectious right away). The seven days is used to smoothen the curve by reducing noise, so that the R-value does not change so much from day to day.

In [0]:
def create_country(country):
  country_confirmed = all_dataframes['confirmed'].loc[:,[country]]
  country_confirmed.rename(columns={country : 'Total cases'}, inplace= True)
  country_confirmed.rename_axis(columns=country, inplace=True)

  country_confirmed["New cases"]=country_confirmed["Total cases"]-country_confirmed.shift(1)["Total cases"]
  country_confirmed["R_7"]=(country_confirmed["Total cases"]-country_confirmed.shift(7)["Total cases"])/(country_confirmed.shift(7)["Total cases"]-country_confirmed.shift(11)["Total cases"])

  return (country_confirmed)

In [0]:
country_dataframes = {country: create_country(country) for country in all_dataframes['confirmed'].columns}