<a href="https://colab.research.google.com/github/rechavar/pyCovid_TechLabsProj/blob/master/TechLabs__finalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TechLabs final project(problem 2 - group 8)

This Notebook is to work in the final project for Techlabs code-at-home course.
Members: Luca Wulfert, Laura Laks, Phillip Guske, Juliana Bedoya and Alejandro Echavarria

### libraries

In [0]:
import pandas as pd

### Constants

In [0]:
csv_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'

### Usefull databases

this is the DB that appear in kaggle.

In [0]:
data = pd.read_csv(csv_url)

In [12]:
data.head(10)

                 Province/State       Country/Region  ...  5/12/20  5/13/20
0                           NaN          Afghanistan  ...     4963     5226
1                           NaN              Albania  ...      876      880
2                           NaN              Algeria  ...     6067     6253
3                           NaN              Andorra  ...      758      760
4                           NaN               Angola  ...       45       45
5                           NaN  Antigua and Barbuda  ...       25       25
6                           NaN            Argentina  ...     6563     6879
7                           NaN              Armenia  ...     3538     3718
8  Australian Capital Territory            Australia  ...      107      107
9               New South Wales            Australia  ...     3059     3063

[10 rows x 117 columns]