<a href="https://colab.research.google.com/github/rechavar/pyCovid_TechLabsProj/blob/Alejandro/TechLabs__finalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TechLabs final project(problem 2 - group 8)

This Notebook is to work in the final project for Techlabs code-at-home course.
Members: Luca Wulfert, Laura Laks, Phillip Guske, Juliana Bedoya and Alejandro Echavarria

### libraries

In [0]:
import pandas as pd

### Constants

In [0]:
confirmed_csv_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
death_csv_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
recovered_csv_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

### Usefull databases

this is the DB that appear in kaggle.

In [0]:
data_confirmed = pd.read_csv(confirmed_csv_url)
data_death = pd.read_csv(death_csv_url)
data_recovered = pd.read_csv(recovered_csv_url)

In [4]:
data_confirmed.head()

  Province/State Country/Region      Lat  ...  5/14/20  5/15/20  5/16/20
0            NaN    Afghanistan  33.0000  ...     5639     6053     6402
1            NaN        Albania  41.1533  ...      898      916      933
2            NaN        Algeria  28.0339  ...     6442     6629     6821
3            NaN        Andorra  42.5063  ...      761      761      761
4            NaN         Angola -11.2027  ...       48       48       48

[5 rows x 120 columns]

In [5]:
data_death.head()

  Province/State Country/Region      Lat  ...  5/14/20  5/15/20  5/16/20
0            NaN    Afghanistan  33.0000  ...      136      153      168
1            NaN        Albania  41.1533  ...       31       31       31
2            NaN        Algeria  28.0339  ...      529      536      542
3            NaN        Andorra  42.5063  ...       49       49       51
4            NaN         Angola -11.2027  ...        2        2        2

[5 rows x 120 columns]

In [6]:
data_recovered.head()

  Province/State Country/Region      Lat  ...  5/14/20  5/15/20  5/16/20
0            NaN    Afghanistan  33.0000  ...      691      745      745
1            NaN        Albania  41.1533  ...      694      705      714
2            NaN        Algeria  28.0339  ...     3158     3271     3409
3            NaN        Andorra  42.5063  ...      596      604      615
4            NaN         Angola -11.2027  ...       14       17       17

[5 rows x 120 columns]

### Data cleanning

Droping innecesary columns

In [0]:
data_confirmed = data_confirmed.drop(['Province/State', 'Lat', 'Long'], axis = 1)
data_death = data_death.drop(['Province/State', 'Lat', 'Long'], axis = 1)
data_recovered = data_recovered.drop(['Province/State', 'Lat', 'Long'], axis = 1)

Groupyng same countries with diferente privences

In [0]:
data_confirmed = data_confirmed.set_index('Country/Region')
data_death = data_death.set_index('Country/Region')
data_recovered = data_recovered.set_index('Country/Region')

In [35]:
data_confirmed.index.duplicated()

array([False, False, False, False, False, False, False, False, False,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False, False, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False, False, False, False, False, False, False,
       False, False, False,  True,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True,  True, False, False,  True,  True,  True, False,
       False, False, False,  True, False,  True,  True, False, False,
       False, False, False, False, False])

In [0]:
data_test = data_confirmed.groupby(by = data_confirmed.index, axis = 0).sum()

In [42]:
data_test.index.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False])

In [49]:
data_confirmed.loc['China']['5/16/20'].sum()

84044

In [50]:
data_test.loc['China']

1/22/20      548
1/23/20      643
1/24/20      920
1/25/20     1406
1/26/20     2075
           ...
5/12/20    84018
5/13/20    84024
5/14/20    84029
5/15/20    84038
5/16/20    84044
Name: China, Length: 116, dtype: int64

#### It works!!!!!

For all dataFrames

In [0]:
data_confirmed = data_confirmed.groupby(by = data_confirmed.index, axis = 0).sum()
data_death = data_death.groupby(by= data_death.index, axis = 0 ).sum()
data_recovered = data_recovered.groupby(by= data_recovered.index, axis = 0).sum()

In [54]:
data_confirmed.

                    1/22/20  1/23/20  1/24/20  ...  5/14/20  5/15/20  5/16/20
Country/Region                                 ...
Afghanistan               0        0        0  ...     5639     6053     6402
Albania                   0        0        0  ...      898      916      933
Algeria                   0        0        0  ...     6442     6629     6821
Andorra                   0        0        0  ...      761      761      761
Angola                    0        0        0  ...       48       48       48
...                     ...      ...      ...  ...      ...      ...      ...
West Bank and Gaza        0        0        0  ...      375      375      376
Western Sahara            0        0        0  ...        6        6        6
Yemen                     0        0        0  ...       85      106      122
Zambia                    0        0        0  ...      654      654      679
Zimbabwe                  0        0        0  ...       37       42       42

[188 rows x 116 columns]

In [55]:
data_death

                    1/22/20  1/23/20  1/24/20  ...  5/14/20  5/15/20  5/16/20
Country/Region                                 ...
Afghanistan               0        0        0  ...      136      153      168
Albania                   0        0        0  ...       31       31       31
Algeria                   0        0        0  ...      529      536      542
Andorra                   0        0        0  ...       49       49       51
Angola                    0        0        0  ...        2        2        2
...                     ...      ...      ...  ...      ...      ...      ...
West Bank and Gaza        0        0        0  ...        2        2        2
Western Sahara            0        0        0  ...        0        0        0
Yemen                     0        0        0  ...       12       15       18
Zambia                    0        0        0  ...        7        7        7
Zimbabwe                  0        0        0  ...        4        4        4

[188 rows x 116 columns]

add total column

In [0]:
data_confirmed.to_excel('/content/drive/My Drive/Dataset/confirmed.xlsx')

### Code for all data cleaning

In [0]:
# Dropping all the innecesary columns
data_confirmed = data_confirmed.drop(['Province/State', 'Lat', 'Long'], axis = 1)
data_death = data_death.drop(['Province/State', 'Lat', 'Long'], axis = 1)
data_recovered = data_recovered.drop(['Province/State', 'Lat', 'Long'], axis = 1)

# Set New index
data_confirmed = data_confirmed.set_index('Country/Region')
data_death = data_death.set_index('Country/Region')
data_recovered = data_recovered.set_index('Country/Region')

# Groupping duplicated columns
data_confirmed = data_confirmed.groupby(by = data_confirmed.index, axis = 0).sum()
data_death = data_death.groupby(by= data_death.index, axis = 0 ).sum()
data_recovered = data_recovered.groupby(by= data_recovered.index, axis = 0).sum()

In [71]:
data_confirmed.describe()

          1/22/20     1/23/20  ...       5/15/20       5/16/20
count  188.000000  188.000000  ...  1.880000e+02  1.880000e+02
mean     2.952128    3.478723  ...  2.416142e+04  2.464930e+04
std     39.964996   46.892465  ...  1.132589e+05  1.152614e+05
min      0.000000    0.000000  ...  1.000000e+00  1.000000e+00
25%      0.000000    0.000000  ...  2.357500e+02  2.357500e+02
50%      0.000000    0.000000  ...  1.163500e+03  1.292500e+03
75%      0.000000    0.000000  ...  8.621500e+03  8.703500e+03
max    548.000000  643.000000  ...  1.442824e+06  1.467820e+06

[8 rows x 116 columns]

In [72]:
data_death.describe()

          1/22/20     1/23/20  ...       5/15/20       5/16/20
count  188.000000  188.000000  ...    188.000000    188.000000
mean     0.090426    0.095745  ...   1636.521277   1658.409574
std      1.239852    1.312785  ...   7816.307265   7911.809029
min      0.000000    0.000000  ...      0.000000      0.000000
25%      0.000000    0.000000  ...      4.000000      4.000000
50%      0.000000    0.000000  ...     25.500000     26.000000
75%      0.000000    0.000000  ...    226.750000    229.000000
max     17.000000   18.000000  ...  87530.000000  88754.000000

[8 rows x 116 columns]

In [74]:
data_recovered.describe()

          1/22/20     1/23/20  ...        5/15/20        5/16/20
count  188.000000  188.000000  ...     188.000000     188.000000
mean     0.148936    0.159574  ...    8707.803191    9006.367021
std      2.042110    2.187975  ...   28779.596597   29908.750359
min      0.000000    0.000000  ...       0.000000       0.000000
25%      0.000000    0.000000  ...      61.000000      61.750000
50%      0.000000    0.000000  ...     511.500000     535.500000
75%      0.000000    0.000000  ...    3408.250000    3512.000000
max     28.000000   30.000000  ...  250747.000000  268376.000000

[8 rows x 116 columns]