<a href="https://colab.research.google.com/github/rechavar/pyCovid_TechLabsProj/blob/Phillip/TechLabs_final_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TechLabs final project 
## (Problem 2 - Group 8)

---

This notebook represents the work in the final project of the Techlabs #codeathome course.
<br> <br>
Team members: Luca Wulfert, Laura Laks, Phillip Guske, Juliana Bedoya, Alejandro Echavarria and Marco Stoever

---

### libraries

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

### Constants

In [0]:
confirmed_csv_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
death_csv_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
recovered_csv_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

### Data Exploration

---
GitHub repository: https://github.com/CSSEGISandData/COVID-19 
<br>
(c) Johns Hopkins University Center for Systems Science and Engineering <br> <br>
The datasets were also used by Kaggle for their weekly *COVID19 Global Forecasting* competition. <br>
(e.g. see: https://www.kaggle.com/c/covid19-global-forecasting-week-5)


---

In [0]:
df_confirmed = pd.read_csv(confirmed_csv_url)
df_death = pd.read_csv(death_csv_url)
df_recovered = pd.read_csv(recovered_csv_url)

In [0]:
df_confirmed.head()

  Province/State Country/Region      Lat  ...  5/15/20  5/16/20  5/17/20
0            NaN    Afghanistan  33.0000  ...     6053     6402     6664
1            NaN        Albania  41.1533  ...      916      933      946
2            NaN        Algeria  28.0339  ...     6629     6821     7019
3            NaN        Andorra  42.5063  ...      761      761      761
4            NaN         Angola -11.2027  ...       48       48       48

[5 rows x 121 columns]

In [0]:
df_death.head()

  Province/State Country/Region      Lat  ...  5/15/20  5/16/20  5/17/20
0            NaN    Afghanistan  33.0000  ...      153      168      169
1            NaN        Albania  41.1533  ...       31       31       31
2            NaN        Algeria  28.0339  ...      536      542      548
3            NaN        Andorra  42.5063  ...       49       51       51
4            NaN         Angola -11.2027  ...        2        2        2

[5 rows x 121 columns]

In [0]:
df_recovered.head()

  Province/State Country/Region      Lat  ...  5/15/20  5/16/20  5/17/20
0            NaN    Afghanistan  33.0000  ...      745      745      778
1            NaN        Albania  41.1533  ...      705      714      715
2            NaN        Algeria  28.0339  ...     3271     3409     3507
3            NaN        Andorra  42.5063  ...      604      615      617
4            NaN         Angola -11.2027  ...       17       17       17

[5 rows x 121 columns]

In [0]:
pd.set_option('display.max_rows', 300)

print(df_confirmed.iloc[:,1:2])
print(df_death.iloc[:,1:2])
print(df_recovered.iloc[:,1:2])

#Taiwan is written with an asterisk (*) at the end, we have to change this:
#We also want to have "USA" instead of "US":
#Congo (Brazzaville) and Congo (Kinshasa) are capitals of different countries!
#Brazzaville -> Republic of the Congo || Kinshasa -> Democratic Republic of the Congo

#We will change this in the data cleaning part

                       Country/Region
0                         Afghanistan
1                             Albania
2                             Algeria
3                             Andorra
4                              Angola
5                 Antigua and Barbuda
6                           Argentina
7                             Armenia
8                           Australia
9                           Australia
10                          Australia
11                          Australia
12                          Australia
13                          Australia
14                          Australia
15                          Australia
16                            Austria
17                         Azerbaijan
18                            Bahamas
19                            Bahrain
20                         Bangladesh
21                           Barbados
22                            Belarus
23                            Belgium
24                              Benin
25                             Bhutan
26                            Bolivia
27             Bosnia and Herzegovina
28                             Brazil
29                             Brunei
30                           Bulgaria
31                       Burkina Faso
32                         Cabo Verde
33                           Cambodia
34                           Cameroon
35                             Canada
36                             Canada
37                             Canada
38                             Canada
39                             Canada
40                             Canada
41                             Canada
42                             Canada
43                             Canada
44                             Canada
45                             Canada
46           Central African Republic
47                               Chad
48                              Chile
49                              China
50                              China
51                              China
52                              China
53                              China
54                              China
55                              China
56                              China
57                              China
58                              China
59                              China
60                              China
61                              China
62                              China
63                              China
64                              China
65                              China
66                              China
67                              China
68                              China
69                              China
70                              China
71                              China
72                              China
73                              China
74                              China
75                              China
76                              China
77                              China
78                              China
79                              China
80                              China
81                              China
82                           Colombia
83                Congo (Brazzaville)
84                   Congo (Kinshasa)
85                         Costa Rica
86                      Cote d'Ivoire
87                            Croatia
88                   Diamond Princess
89                               Cuba
90                             Cyprus
91                            Czechia
92                            Denmark
93                            Denmark
94                            Denmark
95                           Djibouti
96                 Dominican Republic
97                            Ecuador
98                              Egypt
99                        El Salvador
100                 Equatorial Guinea
101                           Eritrea
102                           Estonia
103                          Eswatini
104                          Ethiopia
105                              Fiji
106                           Finland
107                            France
108                            France
109                            France
110                            France
111                            France
112                            France
113                            France
114                            France
115                            France
116                            France
117                             Gabon
118                            Gambia
119                           Georgia
120                           Germany
121                             Ghana
122                            Greece
123                         Guatemala
124                            Guinea
125                            Guyana
126                             Haiti
127                          Holy See
128                          Honduras
129                           Hungary
130                           Iceland
131                             India
132                         Indonesia
133                              Iran
134                              Iraq
135                           Ireland
136                            Israel
137                             Italy
138                           Jamaica
139                             Japan
140                            Jordan
141                        Kazakhstan
142                             Kenya
143                      Korea, South
144                            Kuwait
145                        Kyrgyzstan
146                            Latvia
147                           Lebanon
148                           Liberia
149                     Liechtenstein
150                         Lithuania
151                        Luxembourg
152                        Madagascar
153                          Malaysia
154                          Maldives
155                             Malta
156                        Mauritania
157                         Mauritius
158                            Mexico
159                           Moldova
160                            Monaco
161                          Mongolia
162                        Montenegro
163                           Morocco
164                           Namibia
165                             Nepal
166                       Netherlands
167                       Netherlands
168                       Netherlands
169                       Netherlands
170                       New Zealand
171                         Nicaragua
172                             Niger
173                           Nigeria
174                   North Macedonia
175                            Norway
176                              Oman
177                          Pakistan
178                            Panama
179                  Papua New Guinea
180                          Paraguay
181                              Peru
182                       Philippines
183                            Poland
184                          Portugal
185                             Qatar
186                           Romania
187                            Russia
188                            Rwanda
189                       Saint Lucia
190  Saint Vincent and the Grenadines
191                        San Marino
192                      Saudi Arabia
193                           Senegal
194                            Serbia
195                        Seychelles
196                         Singapore
197                          Slovakia
198                          Slovenia
199                           Somalia
200                      South Africa
201                             Spain
202                         Sri Lanka
203                             Sudan
204                          Suriname
205                            Sweden
206                       Switzerland
207                           Taiwan*
208                          Tanzania
209                          Thailand
210                              Togo
211               Trinidad and Tobago
212                           Tunisia
213                            Turkey
214                            Uganda
215                           Ukraine
216              United Arab Emirates
217                    United Kingdom
218                    United Kingdom
219                    United Kingdom
220                    United Kingdom
221                    United Kingdom
222                    United Kingdom
223                    United Kingdom
224                           Uruguay
225                                US
226                        Uzbekistan
227                         Venezuela
228                           Vietnam
229                            Zambia
230                          Zimbabwe
231                            Canada
232                          Dominica
233                           Grenada
234                        Mozambique
235                             Syria
236                       Timor-Leste
237                            Belize
238                              Laos
239                             Libya
240                West Bank and Gaza
241                     Guinea-Bissau
242                              Mali
243             Saint Kitts and Nevis
244                            Canada
245                            Canada
246                            Kosovo
247                             Burma
248                    United Kingdom
249                    United Kingdom
250                    United Kingdom
251                        MS Zaandam
252                          Botswana
253                           Burundi
254                      Sierra Leone
255                       Netherlands
256                            Malawi
257                    United Kingdom
258                            France
259                       South Sudan
260                    Western Sahara
261             Sao Tome and Principe
262                             Yemen
263                           Comoros
264                        Tajikistan
265                           Lesotho
                       Country/Region
0                         Afghanistan
1                             Albania
2                             Algeria
3                             Andorra
4                              Angola
5                 Antigua and Barbuda
6                           Argentina
7                             Armenia
8                           Australia
9                           Australia
10                          Australia
11                          Australia
12                          Australia
13                          Australia
14                          Australia
15                          Australia
16                            Austria
17                         Azerbaijan
18                            Bahamas
19                            Bahrain
20                         Bangladesh
21                           Barbados
22                            Belarus
23                            Belgium
24                              Benin
25                             Bhutan
26                            Bolivia
27             Bosnia and Herzegovina
28                             Brazil
29                             Brunei
30                           Bulgaria
31                       Burkina Faso
32                         Cabo Verde
33                           Cambodia
34                           Cameroon
35                             Canada
36                             Canada
37                             Canada
38                             Canada
39                             Canada
40                             Canada
41                             Canada
42                             Canada
43                             Canada
44                             Canada
45                             Canada
46           Central African Republic
47                               Chad
48                              Chile
49                              China
50                              China
51                              China
52                              China
53                              China
54                              China
55                              China
56                              China
57                              China
58                              China
59                              China
60                              China
61                              China
62                              China
63                              China
64                              China
65                              China
66                              China
67                              China
68                              China
69                              China
70                              China
71                              China
72                              China
73                              China
74                              China
75                              China
76                              China
77                              China
78                              China
79                              China
80                              China
81                              China
82                           Colombia
83                Congo (Brazzaville)
84                   Congo (Kinshasa)
85                         Costa Rica
86                      Cote d'Ivoire
87                            Croatia
88                   Diamond Princess
89                               Cuba
90                             Cyprus
91                            Czechia
92                            Denmark
93                            Denmark
94                            Denmark
95                           Djibouti
96                 Dominican Republic
97                            Ecuador
98                              Egypt
99                        El Salvador
100                 Equatorial Guinea
101                           Eritrea
102                           Estonia
103                          Eswatini
104                          Ethiopia
105                              Fiji
106                           Finland
107                            France
108                            France
109                            France
110                            France
111                            France
112                            France
113                            France
114                            France
115                            France
116                            France
117                             Gabon
118                            Gambia
119                           Georgia
120                           Germany
121                             Ghana
122                            Greece
123                         Guatemala
124                            Guinea
125                            Guyana
126                             Haiti
127                          Holy See
128                          Honduras
129                           Hungary
130                           Iceland
131                             India
132                         Indonesia
133                              Iran
134                              Iraq
135                           Ireland
136                            Israel
137                             Italy
138                           Jamaica
139                             Japan
140                            Jordan
141                        Kazakhstan
142                             Kenya
143                      Korea, South
144                            Kuwait
145                        Kyrgyzstan
146                            Latvia
147                           Lebanon
148                           Liberia
149                     Liechtenstein
150                         Lithuania
151                        Luxembourg
152                        Madagascar
153                          Malaysia
154                          Maldives
155                             Malta
156                        Mauritania
157                         Mauritius
158                            Mexico
159                           Moldova
160                            Monaco
161                          Mongolia
162                        Montenegro
163                           Morocco
164                           Namibia
165                             Nepal
166                       Netherlands
167                       Netherlands
168                       Netherlands
169                       Netherlands
170                       New Zealand
171                         Nicaragua
172                             Niger
173                           Nigeria
174                   North Macedonia
175                            Norway
176                              Oman
177                          Pakistan
178                            Panama
179                  Papua New Guinea
180                          Paraguay
181                              Peru
182                       Philippines
183                            Poland
184                          Portugal
185                             Qatar
186                           Romania
187                            Russia
188                            Rwanda
189                       Saint Lucia
190  Saint Vincent and the Grenadines
191                        San Marino
192                      Saudi Arabia
193                           Senegal
194                            Serbia
195                        Seychelles
196                         Singapore
197                          Slovakia
198                          Slovenia
199                           Somalia
200                      South Africa
201                             Spain
202                         Sri Lanka
203                             Sudan
204                          Suriname
205                            Sweden
206                       Switzerland
207                           Taiwan*
208                          Tanzania
209                          Thailand
210                              Togo
211               Trinidad and Tobago
212                           Tunisia
213                            Turkey
214                            Uganda
215                           Ukraine
216              United Arab Emirates
217                    United Kingdom
218                    United Kingdom
219                    United Kingdom
220                    United Kingdom
221                    United Kingdom
222                    United Kingdom
223                    United Kingdom
224                           Uruguay
225                                US
226                        Uzbekistan
227                         Venezuela
228                           Vietnam
229                            Zambia
230                          Zimbabwe
231                            Canada
232                          Dominica
233                           Grenada
234                        Mozambique
235                             Syria
236                       Timor-Leste
237                            Belize
238                              Laos
239                             Libya
240                West Bank and Gaza
241                     Guinea-Bissau
242                              Mali
243             Saint Kitts and Nevis
244                            Canada
245                            Canada
246                            Kosovo
247                             Burma
248                    United Kingdom
249                    United Kingdom
250                    United Kingdom
251                        MS Zaandam
252                          Botswana
253                           Burundi
254                      Sierra Leone
255                       Netherlands
256                            Malawi
257                    United Kingdom

In [0]:
#reset max_rows displayed to default number (10):
pd.set_option('display.max_rows', 10)

### Data Cleaning

In [0]:
all_dataframes = [df_confirmed, df_death, df_recovered]

for df in all_dataframes:
  # Dropping of unnecessary columns
  df.drop(['Province/State', 'Lat', 'Long'], axis = 1, inplace = True)

  #Country renaming:
  df["Country/Region"].replace(["Taiwan*", "US", "Congo (Brazzaville)", "Congo (Kinshasa)"], 
                               ["Taiwan", "USA", "Republic of the Congo", "Democratic Republic of the Congo"],
                               inplace = True)
  #Set new index
  df.set_index('Country/Region', inplace = True)




#I would really like to apply the loop to all the data cleaning steps to make the code a bit shorter
#However, I didn't manage to do this with the last 2 steps below, mainly bc here, we have the "=" sign in the middle
#Maybe you know something?

#Grouping together countries originally split into multiple Provinces/States
#(Australia, Canada, China, Denmark, France, Netherlands, United Kingdom)
df_confirmed = df_confirmed.groupby(by = df_confirmed.index, axis = 0).sum()
df_death = df_death.groupby(by= df_death.index, axis = 0 ).sum()
df_recovered = df_recovered.groupby(by= df_recovered.index, axis = 0).sum()

# Addition of a "global" row
df_confirmed.loc['Global'] = df_confirmed.sum(axis=0)
df_death.loc['Global'] = df_death.sum(axis=0)
df_recovered.loc['Global'] = df_recovered.sum(axis=0)

In [0]:
#changing rows and columns:
df_confirmed.reset_index(inplace=True)
df_death.reset_index(inplace=True)
df_recovered.reset_index(inplace=True)

#Setting the Country/Region variable as column header:
df_confirmed = df_confirmed.transpose()
df_confirmed.rename(columns=df_confirmed.iloc[0], inplace = True)
df_confirmed.drop("Country/Region", inplace=True)

df_death = df_death.transpose()
df_death.rename(columns=df_death.iloc[0], inplace = True)
df_death.drop("Country/Region", inplace=True)

df_recovered = df_recovered.transpose()
df_recovered.rename(columns=df_recovered.iloc[0], inplace = True)
df_recovered.drop("Country/Region", inplace=True)

#Naming the Date index:
df_confirmed.index.rename("Date", inplace= True)
df_death.index.rename("Date", inplace= True)
df_recovered.index.rename("Date", inplace= True)

#Creating a datetime index:
df_confirmed.index = pd.to_datetime(df_confirmed.index)
df_death.index = pd.to_datetime(df_death.index)
df_recovered.index = pd.to_datetime(df_recovered.index)

In [0]:
df_confirmed
#now 186 countries in total + cruise ships "Diamond Princess" & "MS Zaandam" + "Global" count

           Afghanistan Albania Algeria Andorra  ... Yemen Zambia Zimbabwe   Global
Date                                            ...
2020-01-22           0       0       0       0  ...     0      0        0      555
2020-01-23           0       0       0       0  ...     0      0        0      654
2020-01-24           0       0       0       0  ...     0      0        0      941
2020-01-25           0       0       0       0  ...     0      0        0     1434
2020-01-26           0       0       0       0  ...     0      0        0     2118
...                ...     ...     ...     ...  ...   ...    ...      ...      ...
2020-05-13        5226     880    6253     760  ...    70    446       37  4347018
2020-05-14        5639     898    6442     761  ...    85    654       37  4442163
2020-05-15        6053     916    6629     761  ...   106    654       42  4542347
2020-05-16        6402     933    6821     761  ...   122    679       42  4634068
2020-05-17        6664     946    7019     761  ...   128    753       44  4713620

[117 rows x 189 columns]

### New Dataframe: Active Cases (For later use?)

In [0]:
df_active = df_confirmed.subtract(df_recovered)

### Data Visualization

In [0]:
for i in df_confirmed:
  print("The country is:", i)
  plt.figure()
  plt.plot(df_confirmed.index, df_confirmed[i], color = "b", label = "Confirmed Cases");
  plt.plot(df_active.index, df_active[i], color = "y", label = "Active Cases");
  plt.plot(df_death.index, df_death[i], color = "r", label = "Death Cases");
  plt.plot(df_recovered.index, df_recovered[i], color = "g", label = "Recovered Cases");
  plt.legend(loc = "best")
  plt.show()