<a href="https://colab.research.google.com/github/rechavar/pyCovid_TechLabsProj/blob/Marco/TechLabs__finalProject_interactive_visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TechLabs final project 
## (Problem 2 - Group 8)

---

This notebook represents the work in the final project of the Techlabs #codeathome course.
<br> <br>
Team members: Luca Wulfert, Laura Laks, Phillip Guske, Juliana Bedoya, Alejandro Echavarria and Marco Stoever

---

# Data Preparation

### libraries

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

### Constants

In [0]:
confirmed_csv_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
death_csv_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
recovered_csv_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
countries_csv_url = 'https://raw.githubusercontent.com/rechavar/pyCovid_TechLabsProj/master/countries.csv'

### Data Exploration

---
GitHub repository: https://github.com/CSSEGISandData/COVID-19 
<br>
(c) Johns Hopkins University Center for Systems Science and Engineering <br> <br>
The datasets were also used by Kaggle for their weekly *COVID19 Global Forecasting* competition. <br>
(e.g. see: https://www.kaggle.com/c/covid19-global-forecasting-week-5)


---

In [0]:
df_confirmed = pd.read_csv(confirmed_csv_url)
df_death = pd.read_csv(death_csv_url)
df_recovered = pd.read_csv(recovered_csv_url)
df_countries = pd.read_csv(countries_csv_url)

In [53]:
df_confirmed.head()

  Province/State Country/Region      Lat  ...  5/26/20  5/27/20  5/28/20
0            NaN    Afghanistan  33.0000  ...    11831    12456    13036
1            NaN        Albania  41.1533  ...     1029     1050     1076
2            NaN        Algeria  28.0339  ...     8697     8857     8997
3            NaN        Andorra  42.5063  ...      763      763      763
4            NaN         Angola -11.2027  ...       70       71       74

[5 rows x 132 columns]

In [54]:
df_death.head()

  Province/State Country/Region      Lat  ...  5/26/20  5/27/20  5/28/20
0            NaN    Afghanistan  33.0000  ...      220      227      235
1            NaN        Albania  41.1533  ...       33       33       33
2            NaN        Algeria  28.0339  ...      617      623      630
3            NaN        Andorra  42.5063  ...       51       51       51
4            NaN         Angola -11.2027  ...        4        4        4

[5 rows x 132 columns]

In [55]:
df_recovered.head()

  Province/State Country/Region      Lat  ...  5/26/20  5/27/20  5/28/20
0            NaN    Afghanistan  33.0000  ...     1128     1138     1209
1            NaN        Albania  41.1533  ...      803      812      823
2            NaN        Algeria  28.0339  ...     4918     5129     5277
3            NaN        Andorra  42.5063  ...      676      676      681
4            NaN         Angola -11.2027  ...       18       18       18

[5 rows x 132 columns]

In [56]:
pd.set_option('display.max_rows', 300)

print(df_confirmed.iloc[:,1:2])
print(df_death.iloc[:,1:2])
print(df_recovered.iloc[:,1:2])

#Taiwan is written with an asterisk (*) at the end, we have to change this:
#We also want to have "USA" instead of "US":
#Congo (Brazzaville) and Congo (Kinshasa) are capitals of different countries!
#Brazzaville -> Republic of the Congo || Kinshasa -> Democratic Republic of the Congo

#We will change this in the data cleaning part

                       Country/Region
0                         Afghanistan
1                             Albania
2                             Algeria
3                             Andorra
4                              Angola
5                 Antigua and Barbuda
6                           Argentina
7                             Armenia
8                           Australia
9                           Australia
10                          Australia
11                          Australia
12                          Australia
13                          Australia
14                          Australia
15                          Australia
16                            Austria
17                         Azerbaijan
18                            Bahamas
19                            Bahrain
20                         Bangladesh
21                           Barbados
22                            Belarus
23                            Belgium
24                              Benin
25                             Bhutan
26                            Bolivia
27             Bosnia and Herzegovina
28                             Brazil
29                             Brunei
30                           Bulgaria
31                       Burkina Faso
32                         Cabo Verde
33                           Cambodia
34                           Cameroon
35                             Canada
36                             Canada
37                             Canada
38                             Canada
39                             Canada
40                             Canada
41                             Canada
42                             Canada
43                             Canada
44                             Canada
45                             Canada
46           Central African Republic
47                               Chad
48                              Chile
49                              China
50                              China
51                              China
52                              China
53                              China
54                              China
55                              China
56                              China
57                              China
58                              China
59                              China
60                              China
61                              China
62                              China
63                              China
64                              China
65                              China
66                              China
67                              China
68                              China
69                              China
70                              China
71                              China
72                              China
73                              China
74                              China
75                              China
76                              China
77                              China
78                              China
79                              China
80                              China
81                              China
82                           Colombia
83                Congo (Brazzaville)
84                   Congo (Kinshasa)
85                         Costa Rica
86                      Cote d'Ivoire
87                            Croatia
88                   Diamond Princess
89                               Cuba
90                             Cyprus
91                            Czechia
92                            Denmark
93                            Denmark
94                            Denmark
95                           Djibouti
96                 Dominican Republic
97                            Ecuador
98                              Egypt
99                        El Salvador
100                 Equatorial Guinea
101                           Eritrea
102                           Estonia
103                          Eswatini
104                          Ethiopia
105                              Fiji
106                           Finland
107                            France
108                            France
109                            France
110                            France
111                            France
112                            France
113                            France
114                            France
115                            France
116                            France
117                             Gabon
118                            Gambia
119                           Georgia
120                           Germany
121                             Ghana
122                            Greece
123                         Guatemala
124                            Guinea
125                            Guyana
126                             Haiti
127                          Holy See
128                          Honduras
129                           Hungary
130                           Iceland
131                             India
132                         Indonesia
133                              Iran
134                              Iraq
135                           Ireland
136                            Israel
137                             Italy
138                           Jamaica
139                             Japan
140                            Jordan
141                        Kazakhstan
142                             Kenya
143                      Korea, South
144                            Kuwait
145                        Kyrgyzstan
146                            Latvia
147                           Lebanon
148                           Liberia
149                     Liechtenstein
150                         Lithuania
151                        Luxembourg
152                        Madagascar
153                          Malaysia
154                          Maldives
155                             Malta
156                        Mauritania
157                         Mauritius
158                            Mexico
159                           Moldova
160                            Monaco
161                          Mongolia
162                        Montenegro
163                           Morocco
164                           Namibia
165                             Nepal
166                       Netherlands
167                       Netherlands
168                       Netherlands
169                       Netherlands
170                       New Zealand
171                         Nicaragua
172                             Niger
173                           Nigeria
174                   North Macedonia
175                            Norway
176                              Oman
177                          Pakistan
178                            Panama
179                  Papua New Guinea
180                          Paraguay
181                              Peru
182                       Philippines
183                            Poland
184                          Portugal
185                             Qatar
186                           Romania
187                            Russia
188                            Rwanda
189                       Saint Lucia
190  Saint Vincent and the Grenadines
191                        San Marino
192                      Saudi Arabia
193                           Senegal
194                            Serbia
195                        Seychelles
196                         Singapore
197                          Slovakia
198                          Slovenia
199                           Somalia
200                      South Africa
201                             Spain
202                         Sri Lanka
203                             Sudan
204                          Suriname
205                            Sweden
206                       Switzerland
207                           Taiwan*
208                          Tanzania
209                          Thailand
210                              Togo
211               Trinidad and Tobago
212                           Tunisia
213                            Turkey
214                            Uganda
215                           Ukraine
216              United Arab Emirates
217                    United Kingdom
218                    United Kingdom
219                    United Kingdom
220                    United Kingdom
221                    United Kingdom
222                    United Kingdom
223                    United Kingdom
224                           Uruguay
225                                US
226                        Uzbekistan
227                         Venezuela
228                           Vietnam
229                            Zambia
230                          Zimbabwe
231                            Canada
232                          Dominica
233                           Grenada
234                        Mozambique
235                             Syria
236                       Timor-Leste
237                            Belize
238                              Laos
239                             Libya
240                West Bank and Gaza
241                     Guinea-Bissau
242                              Mali
243             Saint Kitts and Nevis
244                            Canada
245                            Canada
246                            Kosovo
247                             Burma
248                    United Kingdom
249                    United Kingdom
250                    United Kingdom
251                        MS Zaandam
252                          Botswana
253                           Burundi
254                      Sierra Leone
255                       Netherlands
256                            Malawi
257                    United Kingdom
258                            France
259                       South Sudan
260                    Western Sahara
261             Sao Tome and Principe
262                             Yemen
263                           Comoros
264                        Tajikistan
265                           Lesotho
                       Country/Region
0                         Afghanistan
1                             Albania
2                             Algeria
3                             Andorra
4                              Angola
5                 Antigua and Barbuda
6                           Argentina
7                             Armenia
8                           Australia
9                           Australia
10                          Australia
11                          Australia
12                          Australia
13                          Australia
14                          Australia
15                          Australia
16                            Austria
17                         Azerbaijan
18                            Bahamas
19                            Bahrain
20                         Bangladesh
21                           Barbados
22                            Belarus
23                            Belgium
24                              Benin
25                             Bhutan
26                            Bolivia
27             Bosnia and Herzegovina
28                             Brazil
29                             Brunei
30                           Bulgaria
31                       Burkina Faso
32                         Cabo Verde
33                           Cambodia
34                           Cameroon
35                             Canada
36                             Canada
37                             Canada
38                             Canada
39                             Canada
40                             Canada
41                             Canada
42                             Canada
43                             Canada
44                             Canada
45                             Canada
46           Central African Republic
47                               Chad
48                              Chile
49                              China
50                              China
51                              China
52                              China
53                              China
54                              China
55                              China
56                              China
57                              China
58                              China
59                              China
60                              China
61                              China
62                              China
63                              China
64                              China
65                              China
66                              China
67                              China
68                              China
69                              China
70                              China
71                              China
72                              China
73                              China
74                              China
75                              China
76                              China
77                              China
78                              China
79                              China
80                              China
81                              China
82                           Colombia
83                Congo (Brazzaville)
84                   Congo (Kinshasa)
85                         Costa Rica
86                      Cote d'Ivoire
87                            Croatia
88                   Diamond Princess
89                               Cuba
90                             Cyprus
91                            Czechia
92                            Denmark
93                            Denmark
94                            Denmark
95                           Djibouti
96                 Dominican Republic
97                            Ecuador
98                              Egypt
99                        El Salvador
100                 Equatorial Guinea
101                           Eritrea
102                           Estonia
103                          Eswatini
104                          Ethiopia
105                              Fiji
106                           Finland
107                            France
108                            France
109                            France
110                            France
111                            France
112                            France
113                            France
114                            France
115                            France
116                            France
117                             Gabon
118                            Gambia
119                           Georgia
120                           Germany
121                             Ghana
122                            Greece
123                         Guatemala
124                            Guinea
125                            Guyana
126                             Haiti
127                          Holy See
128                          Honduras
129                           Hungary
130                           Iceland
131                             India
132                         Indonesia
133                              Iran
134                              Iraq
135                           Ireland
136                            Israel
137                             Italy
138                           Jamaica
139                             Japan
140                            Jordan
141                        Kazakhstan
142                             Kenya
143                      Korea, South
144                            Kuwait
145                        Kyrgyzstan
146                            Latvia
147                           Lebanon
148                           Liberia
149                     Liechtenstein
150                         Lithuania
151                        Luxembourg
152                        Madagascar
153                          Malaysia
154                          Maldives
155                             Malta
156                        Mauritania
157                         Mauritius
158                            Mexico
159                           Moldova
160                            Monaco
161                          Mongolia
162                        Montenegro
163                           Morocco
164                           Namibia
165                             Nepal
166                       Netherlands
167                       Netherlands
168                       Netherlands
169                       Netherlands
170                       New Zealand
171                         Nicaragua
172                             Niger
173                           Nigeria
174                   North Macedonia
175                            Norway
176                              Oman
177                          Pakistan
178                            Panama
179                  Papua New Guinea
180                          Paraguay
181                              Peru
182                       Philippines
183                            Poland
184                          Portugal
185                             Qatar
186                           Romania
187                            Russia
188                            Rwanda
189                       Saint Lucia
190  Saint Vincent and the Grenadines
191                        San Marino
192                      Saudi Arabia
193                           Senegal
194                            Serbia
195                        Seychelles
196                         Singapore
197                          Slovakia
198                          Slovenia
199                           Somalia
200                      South Africa
201                             Spain
202                         Sri Lanka
203                             Sudan
204                          Suriname
205                            Sweden
206                       Switzerland
207                           Taiwan*
208                          Tanzania
209                          Thailand
210                              Togo
211               Trinidad and Tobago
212                           Tunisia
213                            Turkey
214                            Uganda
215                           Ukraine
216              United Arab Emirates
217                    United Kingdom
218                    United Kingdom
219                    United Kingdom
220                    United Kingdom
221                    United Kingdom
222                    United Kingdom
223                    United Kingdom
224                           Uruguay
225                                US
226                        Uzbekistan
227                         Venezuela
228                           Vietnam
229                            Zambia
230                          Zimbabwe
231                            Canada
232                          Dominica
233                           Grenada
234                        Mozambique
235                             Syria
236                       Timor-Leste
237                            Belize
238                              Laos
239                             Libya
240                West Bank and Gaza
241                     Guinea-Bissau
242                              Mali
243             Saint Kitts and Nevis
244                            Canada
245                            Canada
246                            Kosovo
247                             Burma
248                    United Kingdom
249                    United Kingdom
250                    United Kingdom
251                        MS Zaandam
252                          Botswana
253                           Burundi
254                      Sierra Leone
255                       Netherlands
256                            Malawi
257                    United Kingdom

In [0]:
#reset max_rows displayed to default number (10):
pd.set_option('display.max_rows', 10)

In [0]:
all_dataframes = {'confirmed': df_confirmed,
                  'death': df_death,
                  'recovered': df_recovered,
                  'countries': df_countries}

### Data Cleaning

In [59]:
for key, df in all_dataframes.items():
  print('cleaning: {}'.format(key))

  if key == 'countries':
    continue

  df.drop(['Province/State', 'Lat', 'Long'], axis = 1, inplace = True)

  #Country renaming:
  df["Country/Region"].replace(["Taiwan*", "US", "Congo (Brazzaville)", "Congo (Kinshasa)"], 
                               ["Taiwan", "USA", "Republic of the Congo", "Democratic Republic of the Congo"],
                               inplace = True)
  #Set new index
  df.set_index('Country/Region', inplace = True)

  #Grouping together countries originally split into multiple Provinces/States
  #(Australia, Canada, China, Denmark, France, Netherlands, United Kingdom)
  df = df.groupby(by = df.index, axis = 0).sum()

  # Addition of a "global" row
  df.loc['Global'] = df.sum(axis=0)

  #transpose
  df=df.T
  df.rename_axis(index='Date', columns="Country",inplace=True)
  df.index = pd.to_datetime(df.index)

  #Naming the Date index:
  df.index.rename("Date", inplace= True)

  #Creating a datetime index:
  df.index = pd.to_datetime(df.index)
  
  #Save new dataFrame
  all_dataframes[key] = df

# Change country names in df_countries
old_names = [ 'Myanmar [Burma]', 'Cape Verde',  "C?te d'Ivoire", 'Czech Republic',
             'Congo [DRC]',  'Swaziland', 'Vatican City',  'South Korea', 'Macedonia [FYROM]',
              'Congo [Republic]',  'S?o Tom? and Pr?ncipe',  'United States',  'Gaza Strip','Sudan']

new_names = ['Burma', 'Cabo Verde', "Cote d'Ivoire", 'Czechia', 'Democratic Republic of the Congo',
              'Eswatini',  'Holy See',  'Korea, South',  'North Macedonia',  'Republic of the Congo',
             'Sao Tome and Principe', 'USA',  'West Bank and Gaza','South Sudan']

all_dataframes['countries'] = all_dataframes['countries'].replace(old_names, new_names)

cleaning: confirmed
cleaning: death
cleaning: recovered
cleaning: countries

In [60]:
all_dataframes['confirmed']
#now 186 countries in total + cruise ships "Diamond Princess" & "MS Zaandam" + "Global" count

Country     Afghanistan  Albania  Algeria  ...  Zambia  Zimbabwe   Global
Date                                       ...
2020-01-22            0        0        0  ...       0         0      555
2020-01-23            0        0        0  ...       0         0      654
2020-01-24            0        0        0  ...       0         0      941
2020-01-25            0        0        0  ...       0         0     1434
2020-01-26            0        0        0  ...       0         0     2118
...                 ...      ...      ...  ...     ...       ...      ...
2020-05-24        10582      998     8306  ...     920        56  5407613
2020-05-25        11173     1004     8503  ...     920        56  5495061
2020-05-26        11831     1029     8697  ...     920        56  5589626
2020-05-27        12456     1050     8857  ...    1057       132  5691790
2020-05-28        13036     1076     8997  ...    1057       149  5808946

[128 rows x 189 columns]

### New Dataframe: Active Cases

In [0]:
all_dataframes['active'] = all_dataframes['confirmed'] - all_dataframes['recovered'] - all_dataframes['death']

## Calculating Projections (Marco)

In [0]:
def create_country(country):
  country_confirmed=all_dataframes["confirmed"].loc[:,[country]]
  country_confirmed["Total Cases"]=country_confirmed[country]
  country_confirmed.drop(country, inplace=True, axis=1)
  country_confirmed.rename_axis(columns=country,inplace=True)
  country_confirmed["New Cases"]=(country_confirmed["Total Cases"]-country_confirmed.shift(1)["Total Cases"])
  country_confirmed["R_7"]=(country_confirmed["Total Cases"]-country_confirmed.shift(7)["Total Cases"])/(country_confirmed.shift(4)["Total Cases"]-country_confirmed.shift(11)["Total Cases"])
  return(country_confirmed)

country_dataframes = {country: create_country(country) for country in all_dataframes["confirmed"].columns}

In [63]:
country_dataframes["Argentina"].tail(10)

Argentina   Total Cases  New Cases       R_7
Date
2020-05-19         8809      438.0  1.202355
2020-05-20         9283      474.0  1.184820
2020-05-21         9931      648.0  1.375123
2020-05-22        10649      718.0  1.514572
2020-05-23        11353      704.0  1.579697
2020-05-24        12076      723.0  1.667221
2020-05-25        12628      552.0  1.521988
2020-05-26        13228      600.0  1.394006
2020-05-27        13933      705.0  1.310598
2020-05-28        14702      769.0  1.190369

In [0]:
from datetime import timedelta

def create_projection(country):

  country_prediction=(pd.DataFrame(index=pd.date_range(start=country_dataframes[country].index[-1], periods=14, freq='D'), 
                                   columns=["Total Cases", "New Cases", "R_7"]))
  country_prediction.drop(country_prediction.index[0], inplace=True)
  country_prediction.rename_axis(index='Date', columns=country,inplace=True)
  country_prediction.index=pd.to_datetime(country_prediction.index)
  country_dataframes[country]["Prediction"]=False
  country_prediction["Prediction"]=True

  country_combined=pd.concat([country_dataframes[country], country_prediction])

  R_slidervalue_country=country_dataframes[country]["R_7"][-1]

  for date in country_combined.index:
    if country_combined.loc[date, 'Prediction']:
      country_combined.loc[date, 'Total Cases']=R_slidervalue_country*(country_combined.shift(4).loc[date, 'Total Cases']
                                                                       -country_combined.shift(5).loc[date, 'Total Cases'])+country_combined.shift(1).loc[date, 'Total Cases']

  country_combined['New Cases']=country_combined['Total Cases']-country_combined.shift(1)['Total Cases']
  for date in country_combined.index:
    try:
      country_combined.loc[date, "R_7"]=(country_combined.loc[date, "Total Cases"]-country_combined.shift(7).loc[date, "Total Cases"])/(country_combined.shift(4).loc[date, "Total Cases"]-country_combined.shift(11).loc[date, "Total Cases"])
    except ZeroDivisionError:
      country_combined.loc[date, 'R_7']=None
  country_combined["Total Cases"]=country_combined["Total Cases"].astype('float64')
  country_combined["New Cases"]=country_combined["New Cases"].astype('float64')
  country_combined["R_7"]=country_combined["R_7"].astype('float64')
  return (country_combined)  
projection_dataframes = {country: create_projection(country) for country in all_dataframes["confirmed"].columns}

In [0]:
pd.set_option('display.max_rows', 100)

In [78]:
projection_dataframes['Germany']['Death Cases']=all_dataframes['death']['Germany']
projection_dataframes['Germany']['Recovered Cases']=all_dataframes['recovered']['Germany']
projection_dataframes['Germany']['Active Cases']=(projection_dataframes['Germany']['Total Cases']
                                                  -projection_dataframes['Germany']['Death Cases']-projection_dataframes['Germany']['Recovered Cases'])
projection_dataframes['Germany']['Recovered Rate']=((projection_dataframes['Germany']['Recovered Cases']-projection_dataframes['Germany']['Recovered Cases'].shift(1))/
                                                    projection_dataframes['Germany']['Active Cases'].shift(1))
projection_dataframes['Germany']['Death Rate']=((projection_dataframes['Germany']['Death Cases']-projection_dataframes['Germany']['Death Cases'].shift(1))/
                                                projection_dataframes['Germany']['New Cases'].shift(21))

Recovered_Rate=projection_dataframes['Germany']['Recovered Rate'].loc[projection_dataframes['Germany']['Prediction']==False].iloc[-8:].mean()
Death_Rate=projection_dataframes['Germany']['Death Rate'].loc[projection_dataframes['Germany']['Prediction']==False].iloc[-8:].mean()

for date in projection_dataframes['Germany'].index:
    if projection_dataframes['Germany'].loc[date, 'Prediction']:
      projection_dataframes['Germany'].loc[date, 'Recovered Cases']=(Recovered_Rate*projection_dataframes['Germany'].shift(1).loc[date, 'Active Cases']
                                                                     +projection_dataframes['Germany'].shift(1).loc[date, 'Recovered Cases'])
      projection_dataframes['Germany'].loc[date, 'Death Cases']=(Death_Rate*projection_dataframes['Germany'].shift(21).loc[date, 'New Cases']
                                                                 +projection_dataframes['Germany'].shift(1).loc[date, 'Death Cases'])
      projection_dataframes['Germany'].loc[date, 'Active Cases']=(projection_dataframes['Germany'].loc[date, 'Total Cases']
                                                                  -projection_dataframes['Germany'].loc[date, 'Recovered Cases']
                                                                  -projection_dataframes['Germany'].loc[date, 'Death Cases'])
      
projection_dataframes['Germany']['Recovered Rate']=((projection_dataframes['Germany']['Recovered Cases']-projection_dataframes['Germany']['Recovered Cases'].shift(1))/
                                                    projection_dataframes['Germany']['Active Cases'].shift(1))
projection_dataframes['Germany']['Death Rate']=((projection_dataframes['Germany']['Death Cases']-projection_dataframes['Germany']['Death Cases'].shift(1))/
                                                projection_dataframes['Germany']['New Cases'].shift(21))  
                                                                 
projection_dataframes['Germany'].tail(20)

Germany       Total Cases   New Cases  ...  Recovered Rate  Death Rate
Date                                   ...
2020-05-22  179710.000000  689.000000  ...        0.076742    0.023408
2020-05-23  179986.000000  276.000000  ...        0.052504    0.037079
2020-05-24  180328.000000  342.000000  ...        0.047048    0.031564
2020-05-25  180600.000000  272.000000  ...        0.078035    0.053279
2020-05-26  181200.000000  600.000000  ...        0.069239    0.073684
2020-05-27  181524.000000  324.000000  ...        0.078538    0.048485
2020-05-28  182196.000000  672.000000  ...        0.052550    0.033123
2020-05-29  182414.135893  218.135893  ...        0.067318    0.042595
2020-05-30  182895.318010  481.182117  ...        0.067318    0.042595
2020-05-31  183155.156353  259.838343  ...        0.067318    0.042595
2020-06-01  183694.080323  538.923971  ...        0.067318    0.042595
2020-06-02  183869.018808  174.938484  ...        0.067318    0.042595
2020-06-03  184254.912523  385.893716  ...        0.067318    0.042595
2020-06-04  184463.295130  208.382606  ...        0.067318    0.042595
2020-06-05  184895.496092  432.200962  ...        0.067318    0.042595
2020-06-06  185035.791542  140.295450  ...        0.067318    0.042595
2020-06-07  185345.266800  309.475258  ...        0.067318    0.042595
2020-06-08  185512.383440  167.116639  ...        0.067318    0.042595
2020-06-09  185858.995729  346.612289  ...        0.067318    0.042595
2020-06-10  185971.508499  112.512770  ...        0.067318    0.042595

[20 rows x 9 columns]

In [0]:
def add_more_projections(country):
  projection_dataframes[country]['Death Cases']=all_dataframes['death'][country]
  projection_dataframes[country]['Recovered Cases']=all_dataframes['recovered'][country]
  projection_dataframes[country]['Active Cases']=(projection_dataframes[country]['Total Cases']
                                                    -projection_dataframes[country]['Death Cases']-projection_dataframes[country]['Recovered Cases'])
  projection_dataframes[country]['Recovered Rate']=((projection_dataframes[country]['Recovered Cases']-projection_dataframes[country]['Recovered Cases'].shift(1))/
                                                      projection_dataframes[country]['Active Cases'].shift(1))
  projection_dataframes[country]['Death Rate']=((projection_dataframes[country]['Death Cases']-projection_dataframes[country]['Death Cases'].shift(1))/
                                                  projection_dataframes[country]['New Cases'].shift(21))

  Recovered_Rate=projection_dataframes[country]['Recovered Rate'].loc[projection_dataframes[country]['Prediction']==False].iloc[-8:].mean()
  Death_Rate=projection_dataframes[country]['Death Rate'].loc[projection_dataframes[country]['Prediction']==False].iloc[-8:].mean()

  for date in projection_dataframes[country].index:
      if projection_dataframes[country].loc[date, 'Prediction']:
        projection_dataframes[country].loc[date, 'Recovered Cases']=(Recovered_Rate*projection_dataframes[country].shift(1).loc[date, 'Active Cases']
                                                                       +projection_dataframes[country].shift(1).loc[date, 'Recovered Cases'])
        projection_dataframes[country].loc[date, 'Death Cases']=(Death_Rate*projection_dataframes[country].shift(21).loc[date, 'New Cases']
                                                                   +projection_dataframes[country].shift(1).loc[date, 'Death Cases'])
        projection_dataframes[country].loc[date, 'Active Cases']=(projection_dataframes[country].loc[date, 'Total Cases']
                                                                    -projection_dataframes[country].loc[date, 'Recovered Cases']
                                                                    -projection_dataframes[country].loc[date, 'Death Cases'])
      
  projection_dataframes[country]['Recovered Rate']=((projection_dataframes[country]['Recovered Cases']-projection_dataframes[country]['Recovered Cases'].shift(1))/
                                                      projection_dataframes[country]['Active Cases'].shift(1))
  projection_dataframes[country]['Death Rate']=((projection_dataframes[country]['Death Cases']-projection_dataframes[country]['Death Cases'].shift(1))/
                                                  projection_dataframes[country]['New Cases'].shift(21))  
                                                                 
for country in all_dataframes["confirmed"].columns:
  add_more_projections(country)

In [90]:
projection_dataframes['Brazil'].tail(20)

Brazil        Total Cases     New Cases  ...  Recovered Rate  Death Rate
Date                                     ...
2020-05-22  330890.000000  20803.000000  ...        0.057716    0.199601
2020-05-23  347398.000000  16508.000000  ...        0.041035    0.197019
2020-05-24  363211.000000  15813.000000  ...        0.040066    0.138172
2020-05-25  374898.000000  11687.000000  ...        0.020573    0.118781
2020-05-26  391222.000000  16324.000000  ...        0.024090    0.152012
2020-05-27  411821.000000  20599.000000  ...        0.038699    0.097347
2020-05-28  438238.000000  26417.000000  ...        0.049901    0.126173
2020-05-29  450501.067829  12263.067829  ...        0.041442    0.148433
2020-05-30  467629.699577  17128.631748  ...        0.041442    0.148433
2020-05-31  489244.051780  21614.352204  ...        0.041442    0.148433
2020-06-01  516963.180970  27719.129189  ...        0.041442    0.148433
2020-06-02  529830.711779  12867.530810  ...        0.041442    0.148433
2020-06-03  547803.636648  17972.924869  ...        0.041442    0.148433
2020-06-04  570483.389121  22679.752473  ...        0.041442    0.148433
2020-06-05  599568.831185  29085.442064  ...        0.041442    0.148433
2020-06-06  613070.619763  13501.788578  ...        0.041442    0.148433
2020-06-07  631929.454087  18858.834324  ...        0.041442    0.148433
2020-06-08  655727.121830  23797.667743  ...        0.041442    0.148433
2020-06-09  686246.224154  30519.102324  ...        0.041442    0.148433
2020-06-10  700413.533912  14167.309758  ...        0.041442    0.148433

[20 rows x 9 columns]

In [0]:
                   from matplotlib import pyplot as plt
from matplotlib import dates as mpl_dates
plt.xkcd()
fig, ax = plt.subplots()

country='Brazil'
variable='Total Cases'

ax.plot_date(projection_dataframes[country].loc[projection_dataframes[country]['Prediction']==False]
             .index, projection_dataframes[country].loc[projection_dataframes[country]['Prediction']==False][variable], label="Data", linestyle='solid', marker=None)
ax.plot_date(projection_dataframes[country].loc[projection_dataframes[country]['Prediction']==True]
             .index, projection_dataframes[country].loc[projection_dataframes[country]['Prediction']==True][variable], label="Projection", linestyle='--', marker=None)
date_format=mpl_dates.DateFormatter('%b, %d %Y')
ax.xaxis.set_major_formatter(date_format)
ax.set_xlabel('Date')
ax.set_ylabel('Total Cases')
ax.set_title('Brazil (Total Cases)')
ax.legend()
fig.autofmt_xdate()

plt.show()

# Data Visualization

## Static Data Visualization (Matplotlib)

In [0]:
 # temporarily markdown

for i in df_confirmed:
  print("The country is:", i)
  plt.figure()
  plt.plot(df_confirmed.index, df_confirmed[i], color = "b", label = "Confirmed Cases");
  plt.plot(df_active.index, df_active[i], color = "y", label = "Active Cases");
  plt.plot(df_death.index, df_death[i], color = "r", label = "Death Cases");
  plt.plot(df_recovered.index, df_recovered[i], color = "g", label = "Recovered Cases");
  plt.legend(loc = "best")
  plt.show()

## Interactive Data Visualization <br>

### World Map (temporarily deleted)

### Interactive Plotting

In [0]:
import bokeh
from bokeh.io import output_notebook
from bokeh.plotting import figure, output_file, show
from bokeh.models import ColumnDataSource, HoverTool

import warnings
warnings.filterwarnings('ignore')

output_notebook()

# data
x_line = all_dataframes['active'].index
y_line = all_dataframes['active'].Germany

# line plot
line_plot = figure(plot_width=500, plot_height=325, title='Covid-19 Cases in Germany', x_axis_label='Date', 
                   y_axis_label='Active Cases', x_axis_type='datetime')
line_plot.line(x_line, y_line, legend='Active Cases', line_width=2)


show(line_plot)

#### Using Bokeh and ipywidgets

In [0]:
# line plot - multiple lines

from bokeh.layouts import layout
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual, Layout
from bokeh.models import Range1d, Span

############################################################################
#Widgets:

#Dropdown Widget:
drop_down = widgets.Dropdown(options=all_dataframes['confirmed'].columns,
                                value="Germany",
                                description='Country:',
                                disabled=False)

#Selection Range Slider Widget:
range_slider= widgets.SelectionRangeSlider(
    options=all_dataframes["confirmed"].index,
    index=(0, 124),
    description='Timeframe',
    disabled=False
)

# create slider
#dates = list(pd.date_range(all_dataframes["confirmed"].index.min(), all_dataframes["confirmed"].index.max(), freq='D'))
#options = [(i.strftime('%Y-%m-%d'), i) for i in dates]
#index = (0, len(dates)-1)
#myslider = widgets.SelectionRangeSlider(
#    options = options,
#    index = index,
#    description = 'Timeframe:',
#    orientation = 'horizontal',
#    layout={'width': '800px'}
#)

startdatepicker = widgets.DatePicker(
    description='Pick a Startdate:',
    disabled=False,
    style = {'description_width': 'initial'}
)

enddatepicker = widgets.DatePicker(
    description='Pick an Enddate:',
    disabled=False,
    style = {'description_width': 'initial'}
)

#Multi-Select Widget:

#multi_select = widgets.SelectMultiple(options=all_dataframes.keys(),
#    value=['confirmed'],
#    #rows=10,
#    description='Counts:',
#    disabled=False
#)
############################################################################

############################################################################
#plotting function
def plot_country(country, startdate, enddate,
                 confirmed = True, active = False, recovered = False, death = False,
                 include_prediction = False
                ):

  # plot: 
  multi_line_plot = figure(plot_width=900, plot_height=425, title='Covid-19 Cases in {}'.format(country), 
                           x_axis_label='Date', y_axis_label='No. of Cases in {}'.format(country),
                           x_axis_type='datetime', y_axis_type = "linear")
  multi_line_plot.title.text_font_size = "35px"
  multi_line_plot.title.align = "center"

  multi_line_plot.left[0].formatter.use_scientific = False
    
  #lines:
  if confirmed == True:
      multi_line_plot.line(x = "Date", y=country, source = all_dataframes['confirmed'],
                       color='black', line_width=2, line_dash="dashed", legend = "Confirmed Cases")
  if active == True:
      multi_line_plot.line(x = "Date", y=country, source = all_dataframes['active'],
                       color='blue', line_width=2, legend = "Active Cases")
  if recovered == True:
      multi_line_plot.line(x = "Date", y=country, source = all_dataframes['recovered'],
                       color='green', line_width=2, legend = "Recovered Cases")
  if death == True:
      multi_line_plot.line(x = "Date", y=country, source = all_dataframes['death'],
                       color='red', line_width=2, legend = "Death Cases")

  if include_prediction == True:
    multi_line_plot.line(projection_dataframes[country].loc[projection_dataframes[country]['Prediction']==True]
             .index, projection_dataframes[country].loc[projection_dataframes[country]['Prediction']==True][variable], 
                 legend="Projection", line_dash = "dashed",  color='black', line_width=2)    
  multi_line_plot.x_range = Range1d(startdate, enddate)
  
    
  prediction_beginning = all_dataframes['confirmed'].index.max()
  beginning_of_prediction = Span(location=prediction_beginning,
                            dimension='height', line_color='red',
                            line_dash='dashed', line_width=1) 
  multi_line_plot.add_layout(beginning_of_prediction)
    
  # add hover tool
  hover = HoverTool()
  hover.tooltips = [('Date','@Date{%F}'),('No. of Cases','@{}'.format(country))]
  hover.formatters = {'Date': 'datetime'} 
  multi_line_plot.add_tools(hover)

  #format legend
  multi_line_plot.legend.location = "top_left"
  multi_line_plot.legend.orientation = "vertical"
  multi_line_plot.legend.background_fill_alpha = 0.35

  show(multi_line_plot)
############################################################################

############################################################################
#Interact function:
interact(plot_country, country = drop_down, startdate = startdatepicker, enddate = enddatepicker);
############################################################################


#To complete the plot, we need to implement the forecast

#We not only need a forecast for the confirmed cases (confirmed cases from day before + new cases),
#but also a forecast for the active cases, the death cases and the recovered cases!

#Then we can think about implementing the forecasts into the plot, maybe even with an additional checkbox
#e.g "Include forecasts?" 
#and an easy if-clause in the plot_country function

#### Using Bokeh with its own dropdown widget

In [0]:
# temporarily markdown

#different approach: Here, I try to use bokeh's own dropdown widget instead of the ipywidgets dropdown widget

from bokeh.io import output_file, show, push_notebook
from bokeh.models import Dropdown
from bokeh.layouts import column, row

menu = list(df_confirmed.columns)
dropdown = Dropdown(label="Country Selection", button_type="warning", menu=menu, value="Germany")

#dropdown.js_link("value", multi_line_plot, "country")
#here I have to write a javascript link to link a change in the dropdown to a change in the graph, which I can't do

show(row(line_plot, dropdown))

In [0]:
# temporarily markdown

#different idea was to use a stacked area plot instead of a line plot
x = df_confirmed.index
stacked_area_plot = figure(plot_width=600, plot_height=300, x_axis_type='datetime')

stacked_area_plot.varea_stack(x=x, 
                              stackers= [df_death.Germany, df_recovered.Germany, df_active.Germany],
                              color=('red', 'green', 'orange'))

show(stacked_area_plot)

In [0]:
# stacked_area_plot = figure(plot_width=600, plot_height=300)
# stacked_area_plot.varea(y1=stack(),       y2=stack('Germany'),         x='Date', color='red', source=df_death, name='Death Cases')
# stacked_area_plot.varea(y1=stack('2016'), y2=stack('2016', '2017'), x='Date', color='green',  source=df_recovered, name='Recovered Cases')

### using ipywidgets

In [0]:
#!pip install ipywidgets
!jupyter nbextension enable --py widgetsnbextension

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual
%matplotlib inline
import matplotlib.dates as mdates

#dstart = df_confirmed.index[startdate]
#dend = df_confirmed.index[enddate]

def country_visualization(country):#, startdate, enddate):
  #plt.figure()
  fig, ax = plt.subplots(figsize = [18.5, 6.5], dpi = 200, facecolor = "WhiteSmoke")
  ax.plot(all_dataframes['confirmed'].index, all_dataframes['confirmed'][country], color = "black", linestyle = "dashed", linewidth = 2, label = "Confirmed Cases");
  #ax.set_xlim([pd.to_datetime('2020-01-28 23:50:00'), pd.to_datetime('2020-02-29 00:10:00')])
  #plt.xlim(pd.to_datetime('2020-01-28 23:50:00'), pd.to_datetime('2020-02-29 00:10:00'))
  #plt.xlim(xlim((left, right)))
  ax.set_xticks(all_dataframes['confirmed'].index)
  ax.xaxis.set_major_formatter(mdates.DateFormatter("%Y-%m-%d"))
  ax.xaxis.set_minor_formatter(mdates.DateFormatter("%Y-%m-%d"))
  _=plt.xticks(rotation=90)
  #plt.xlim(df_confirmed.index[startdate], df_confirmed.index[enddate])
  #plt.xlim([df_confirmed.index[startdate], df_confirmed.index[enddate]])
  ax.plot(all_dataframes['active'].index, all_dataframes['active'][country], color = "b", linestyle = "-", linewidth = 2, label = "Active Cases");
  #ax.set_xlim([pd.to_datetime('2020-01-28 23:50:00'), pd.to_datetime('2020-02-29 00:10:00')])
  ax.plot(all_dataframes['death'].index, all_dataframes['death'][country], color = "r", linestyle = "-", linewidth = 2, label = "Death Cases");
  #ax.set_xlim([pd.to_datetime('2020-01-28 23:50:00'), pd.to_datetime('2020-02-29 00:10:00')])
  ax.plot(all_dataframes['recovered'].index, all_dataframes['recovered'][country], color = "g", linestyle = "-", linewidth = 2, label = "Recovered Cases");
  #ax.set_xlim([pd.to_datetime('2020-01-28 23:50:00'), pd.to_datetime('2020-02-29 00:10:00')])
  #plt.xlim(pd.to_datetime('2020-01-28 23:50:00'), pd.to_datetime('2020-02-29 00:10:00'))
  ax.legend(loc = "best");
  plt.xlabel('Date')
  plt.ylabel('No. of Cases')
  plt.title('Covid-19 Cases in {}'.format(country))
  #plt.set_xlim([df_confirmed.index[startdate], df_confirmed.index[enddate]])
  plt.show();

interactive_plot = interact(country_visualization, country = all_dataframes['confirmed'].columns)#, startdate = all_dataframes['confirmed'].index, enddate = all_dataframes['confirmed'].index)
interactive_plot;

In [0]:
import datetime
dates = [datetime.date(2015, i, 1) for i in range(1, 13)]
options = [(i.strftime('%b'), i) for i in dates]
widgets.SelectionRangeSlider(
    options=options,
    index=(0, 11),
    description='Months (2015)',
    disabled=False
)